.products-title{
    color: #581412;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin: 30px;
  background: radial-gradient(
    circle at 100%,
    #5039ff,
    #581412 50%,
    #9cafff 75%,
    #992a26 75%
  );
  font-weight: 600;
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextGradient 3s linear infinite;
}

@keyframes animatedTextGradient {
    to {
      background-position: 200% center;
    }
  }


.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 0;
    padding: 10px;
    gap: 3px;
}

.product-item{
    border: 2px solid rgb(241, 241, 241);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px 5px rgba(159, 159, 159, 0.184);
}

.product-item:hover img{
  transform: scale(1.05);
}

.product-item img{
    width: 200px;
    border-radius: 5px;
    margin: 10px 5px;
    height: auto;
    transition: .2s;
}

.product-item h3{
    font-size: 25px;
    margin: 10px 0;
    color: rgb(119, 30, 30);
}

.product-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination-button{
    margin: 5px;
    padding: 5px 10px;
    background: gray;
    border-radius: 2px;
    color: white;
}

.pagination-button:hover {
    background-color: #09679d;
}

.pagination-button.active {
    background-color: #581412;
    color: white;
    font-weight: bold;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255); /* Optional: semi-transparent background */
    z-index: 9999; /* Ensure it's on top of everything */
  }

  
.lds-facebook,
.lds-facebook div {
  box-sizing: border-box;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #60120f;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}



#search {
	display: grid;
	grid-area: search;
	grid-template:
		"search" 60px
		/ 420px;
	justify-content: center;
	align-content: center;
	justify-items: stretch;
	align-items: stretch;
	background: hsl(0, 0%, 100%);
}

#search input {
	display: block;
	grid-area: search;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 100%;
	background: none;
	padding: 0 30px 0 60px;
	border: none;
	border-radius: 100px;
	font: 20px/1 system-ui, sans-serif;
	outline-offset: -8px;
  outline: none;
}


#search svg {
	grid-area: search;
	overflow: visible;
	color: hsl(0, 100%, 18%);
	fill: none;
	stroke: currentColor;
}

.spark {
	fill: currentColor;
	stroke: none;
	r: 15;
}

.spark:nth-child(1) {
	animation:
		spark-radius 1s 1s both,
		spark-one-motion 1s 1s both;
}

@keyframes spark-radius {
	0% { r: 0; animation-timing-function: cubic-bezier(0, 0.3, 0, 1.57) }
	30% { r: 15; animation-timing-function: cubic-bezier(1, -0.39, 0.68, 1.04) }
	95% { r: 8 }
	99% { r: 10 }
	99.99% { r: 7 }
	100% { r: 0 }
}

@keyframes spark-one-motion {
	0% { transform: translate(-20%, 50%); animation-timing-function: cubic-bezier(0.63, 0.88, 0, 1.25) }
	20% { transform: rotate(-0deg) translate(0%, -50%); animation-timing-function: ease-in }
	80% { transform: rotate(-230deg) translateX(-20%) rotate(-100deg) translateX(15%); animation-timing-function: linear }
	100% { transform: rotate(-360deg) translate(30px, 100%); animation-timing-function: cubic-bezier(.64,.66,0,.51) }
}

.spark:nth-child(2) {
	animation:
		spark-radius 1s 1s both,
		spark-two-motion 1s 1s both;
}

@keyframes spark-two-motion {
	0% { transform: translate(120%, 50%) rotate(-70deg) translateY(0%); animation-timing-function: cubic-bezier(0.36, 0.18, 0.94, 0.55) }
	20% { transform: translate(90%, -80%) rotate(60deg) translateY(-80%); animation-timing-function: cubic-bezier(0.16, 0.77, 1, 0.4) }
	40% { transform: translate(110%, -50%) rotate(-30deg) translateY(-120%); animation-timing-function: linear }
	70% { transform: translate(100%, -50%) rotate(120deg) translateY(-100%); animation-timing-function: linear }
	80% { transform: translate(95%, 50%) rotate(80deg) translateY(-150%); animation-timing-function: cubic-bezier(.64,.66,0,.51) }
	100% { transform: translate(100%, 50%) rotate(120deg) translateY(0%) }
}

.spark:nth-child(3) {
	animation:
		spark-radius 1s 1s both,
		spark-three-motion 1s 1s both;
}

@keyframes spark-three-motion {
	0% { transform: translate(50%, 100%) rotate(-40deg) translateX(0%); animation-timing-function: cubic-bezier(0.62, 0.56, 1, 0.54) }
	30% { transform: translate(40%, 70%) rotate(20deg) translateX(20%); animation-timing-function: cubic-bezier(0, 0.21, 0.88, 0.46) }
	40% { transform: translate(65%, 20%) rotate(-50deg) translateX(15%); animation-timing-function: cubic-bezier(0, 0.24, 1, 0.62) }
	60% { transform: translate(60%, -40%) rotate(-50deg) translateX(20%); animation-timing-function: cubic-bezier(0, 0.24, 1, 0.62) }
	70% { transform: translate(70%, -0%) rotate(-180deg) translateX(20%); animation-timing-function: cubic-bezier(0.15, 0.48, 0.76, 0.26) }
	100% { transform: translate(70%, -0%) rotate(-360deg) translateX(0%) rotate(180deg) translateX(20%); }
}




.burst {
	stroke-width: 3;
}

.burst :nth-child(2n) { color: #660a0a }
.burst :nth-child(3n) { color: #691010 }
.burst :nth-child(4n) { color: #441414 }
.burst :nth-child(5n) { color: #f58282 }

.circle {
	r: 6;
}

.rect {
	width: 10px;
	height: 10px;
}

.triangle {
	d: path("M0,-6 L7,6 L-7,6 Z");
	stroke-linejoin: round;
}

.plus {
	d: path("M0,-5 L0,5 M-5,0L 5,0");
	stroke-linecap: round;
}




.burst:nth-child(4) {
	transform: translate(30px, 100%) rotate(150deg);
}

.burst:nth-child(5) {
	transform: translate(50%, 0%) rotate(-20deg);
}

.burst:nth-child(6) {
	transform: translate(100%, 50%) rotate(75deg);
}

.burst * {}

@keyframes particle-fade {
	0%, 100% { opacity: 0 }
	5%, 80% { opacity: 1 }
}

.burst :nth-child(1) { animation: particle-fade 600ms 1s both, particle-one-move 600ms 1s both; }
.burst :nth-child(2) { animation: particle-fade 600ms 1s both, particle-two-move 600ms 1s both; }
.burst :nth-child(3) { animation: particle-fade 600ms 1s both, particle-three-move 600ms 1s both; }
.burst :nth-child(4) { animation: particle-fade 600ms 1s both, particle-four-move 600ms 1s both; }
.burst :nth-child(5) { animation: particle-fade 600ms 1s both, particle-five-move 600ms 1s both; }
.burst :nth-child(6) { animation: particle-fade 600ms 1s both, particle-six-move 600ms 1s both; }

@keyframes particle-one-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(-20deg) translateX(8%) scale(0.5, 0.5) } }
@keyframes particle-two-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(0deg) translateX(8%) scale(0.5, 0.5) } }
@keyframes particle-three-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(20deg) translateX(8%) scale(0.5, 0.5) } }
@keyframes particle-four-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(-35deg) translateX(12%) } }
@keyframes particle-five-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(0deg) translateX(12%) } }
@keyframes particle-six-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(35deg) translateX(12%) } }



.bar {
	width: 100%;
	height: 100%;
	ry: 50%;
	stroke-width: 10;
	animation: bar-in 900ms 1s both;
}

@keyframes bar-in {
	0% { stroke-dasharray: 0 180 0 226 0 405 0 0 }
	100% { stroke-dasharray: 0 0 181 0 227 0 405 0 }
}

.magnifier {
	animation: magnifier-in 600ms 1s both;
	transform-box: fill-box;
}

@keyframes magnifier-in {
	0% { transform: translate(20px, 8px) rotate(-45deg) scale(0.01, 0.01); }
	50% { transform: translate(-4px, 8px) rotate(-45deg); }
	100% { transform: translate(0px, 0px) rotate(0deg); }
}

.magnifier .glass {
	cx: 27;
	cy: 27;
	r: 8;
	stroke-width: 3;
}
.magnifier .handle {
	x1: 32;
	y1: 32;
	x2: 44;
	y2: 44;
	stroke-width: 3;
}

#search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23660a0a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>') no-repeat center center;
}



.brand-info{
  display: flex;
  align-items: center;
  margin: 20px;
}

.brand-info h2{
  font-size: 35px;
  text-transform: uppercase;
  margin: 20px 10px;
  color: #691010;
}

.brand-info p{
  font-size: 20px;
  text-align: justify;
  margin: 20px 10px;
}

.brand-info img{
  width: 400px;
  margin: 20px 10px;
  border-radius: 5px;
}

.brand-info a{
  font-size: 18px;
  margin: 10px;
}

.brand-info a span{
  color: #100089;
  font-style: italic;
  font-size: 20px;
  text-decoration: underline;
}



@media only screen and (max-width: 899px) {

  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }


  .brand-info{
    flex-direction: column;
  }

  .brand-info img{
    width: 80%;
  }

  .brand-info h2{
    text-align: center;
    font-size: 32px;
  }

  .brand-info p{
    font-size: 18px;
    margin: 20px 5%;
  }

  .brand-info a{
    margin: 20px 5%;
  }

}

@media only screen and (min-width: 800px) and (max-width: 999px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }


}


@media (max-width: 768px) {
  #search {
    grid-template:
      "search" 60px
      / 300px;
    padding: 0 20px;
  }

  #search input {
    padding: 0 35px;
    font: 16px/1 system-ui, sans-serif;
  }
}


